@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    // url("../assets/fonts/Poppins-Regular.eot") format("embedded-opentype")
    //   /* IE6-IE8 */ /* IE6-IE8 */ url("../assets/fonts/Poppins-Regular.woff2")
    //   format("woff2"),
    // /* Super Modern Browsers */ url("../assets/fonts/Poppins-Regular.woff")
    //   format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Poppins-Regular.ttf")
      format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    // url("../assets/fonts/Poppins-Medium.eot") format("embedded-opentype")
    //   /* IE6-IE8 */ url("../assets/fonts/Poppins-Medium.woff2") format("woff2"),
    // /* Super Modern Browsers */ url("../assets/fonts/Poppins-Medium.woff")
    //   format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Poppins-Medium.ttf")
      format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    // url("../assets/fonts/Poppins-Bold.eot") /* IE6-IE8 */
    //   url("../assets/fonts/Poppins-Bold.woff2") format("woff2"),
    // /* Super Modern Browsers */ url("../assets/fonts/Poppins-Bold.woff")
    //   format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Poppins-Bold.ttf")
      format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    // url("../assets/fonts/Poppins-Bold.eot") /* IE6-IE8 */
    //   url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    // /* Super Modern Browsers */ url("../assets/fonts/Inter-Regular.woff")
    //   format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Inter-Regular.ttf")
      format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/Courgette-Regular.ttf") format("truetype");
}
